*.a
*.o
*.lo
*.la
*.slo
.deps
Makefile
Makefile.in
pcc-gradient/receiver/app/appclient
pcc-gradient/receiver/app/appserver
pcc-gradient/receiver/app/incastserver
pcc-gradient/receiver/app/recvfile
pcc-gradient/receiver/app/sendfile
pcc-gradient/receiver/app/test
pcc-gradient/receiver/src/libudt.so
pcc-gradient/receiver/src/udt
pcc-gradient/sender/app/gradient_descent_pcc_client
pcc-gradient/sender/src/libudt.so
pcc-gradient/sender/src/udt